<!DOCTYPE html>
<html>
    <head>
        <title>
            {title}
        </title>
        <link href="../../index.css" rel="stylesheet" />
        <link href="../../article.css" rel="stylesheet" />
    </head>
    <body>
        <div class="navbar">
            <a class="name navbutton" href="/">
                Luke's Writings
            </a>
            <div class="navbuttons">
                <a href="{base_url}/archive" class="navbutton">
                    Archive
                </a>
                <a href="{base_url}/tags" class="navbutton">
                    Tags
                </a>
            </div>
        </div>
        <div class="article">
            <h1 class="title">
                {title}
            </h1>
            <h3 class="byline">
                <span class="author">
                    Luke DiGiovanna
                </span>
                -
                <span class="date">
                    {date}
                </span>
            </h3>
            <hr />
            <div class="content">
                {content}
            </div>
        </div>
    </body>
</html>