<!DOCTYPE html>
<html>
    <head>
        <title>
            Luke DiGiovanna Writings
        </title>
        <link rel="stylesheet" href="index.css" />
    </head>
    <body>
        <div class="home">
            <h1>
                Here are some of my writings.
            </h1>
            <h3>
                Checkout my Github <a href="https://github.com/lukedigiovanna">lukedigiovanna</a>
            </h3>
            <div>
                {article_list}
            </div>
        </div>
    </body>
</html>
